.containerbody {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden; /* Prevent horizontal scrollbar */
}  

.container {
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 600px;
  max-width: 100%;
  margin: 1px;
  transition: box-shadow 0.3s;
}

.container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.enic12 {
  color: #333;
  font-size: 100%;
  
}

.emoji-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
 
  justify-content: center;
  overflow: hidden;
}

.emoji {
  position: relative;
  font-size: 24px; /* Adjusted font size for better visibility */
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  border-radius: 8px;
  padding: 8px;
  background-color: #e6e6e6;
}

.emoji:hover {
  transform: scale(1.1);
  background-color: #d1d1d1;
}

.reaction-count {
  position: absolute;
  bottom: -2px; /* Adjusted position for better alignment */
  right: 18px;
  font-size: 12px; /* Adjusted font size for better visibility */
  color: #555;
}

.pop-up {
  position: absolute;
  top: 100%;
  left: 105%;
  transform: translate(-50%, 10px) scale(0.8);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 6px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  font-size: 12px; /* Adjusted font size for better visibility */
  white-space: nowrap;
  color: #333;
}

.emoji:hover .pop-up {
  transform: translate(-100%, -100%) scale(1);
  opacity: 1;
}

/* Background animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 50% 50%;
  }
}
